In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Assignment 2.xls', index_col=0)

In [3]:
# cleaning 
non_null_cols = (df.isnull().sum() < len(df)) == True
non_null_rows = (df.isnull().sum(axis=1) < df.shape[1]) == True

df = df.loc[non_null_rows, non_null_cols]

df = df.drop('DF').drop('num-attr', axis=1)
df

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,User 1,User 2
doc1,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,-1.0
doc2,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,1.0
doc3,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
doc4,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,1.0
doc5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
doc6,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
doc7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN
doc8,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN
doc9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN
doc10,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN
doc11,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
doc12,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,-1.0
doc13,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
doc14,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
doc15,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,NaN,NaN
doc16,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,NaN
doc17,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1.0
doc18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
doc19,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,NaN
doc20,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN

In [4]:
interests = ['baseball', 'economics', 'politics', 'Europe', 'Asia', 'soccer', 'war', 'security', 'shopping', 'family']

User profiles

In [5]:
# profile user 1 
ratings_user_1 = df[df['User 1'].notnull()]['User 1']
categories_user_1 = df.loc[df['User 1'].notnull(), interests]

for c in categories_user_1.columns: 
    categories_user_1[c] *= ratings_user_1

profile_user_1 = categories_user_1.sum()

Now compute the predicted score for each user for each document (a simple dot-product). Type in the answers to the following questions (answers may include already-rated articles) as part of the Quiz:

* Which document does the simple profile predict user 1 will like best?
* What score does that prediction get?
* How many documents does the model predict user 2 will dislike (prediction score that is negative)?

In [6]:
df[interests].dot(profile_user_1).sort_values().tail(1)

doc16    6.0
dtype: float64

In [7]:
# profile user 2
ratings_user_2 = df[df['User 2'].notnull()]['User 2']
categories_user_2 = df.loc[df['User 2'].notnull(), interests]

for c in categories_user_2.columns: 
    categories_user_2[c] *= ratings_user_2

profile_user_2 = categories_user_2.sum()

In [8]:
# How many documents does the model predict user 2 will dislike (prediction score that is negative)?
(df[interests].dot(profile_user_2) < 0).sum()

np.int64(4)

### Part 2. Next, let’s treat all articles as having unit weight ...

In [9]:
df_unit = df.copy()

for c in df_unit[interests].columns: 
    df_unit[c] /= df[interests].sum(axis=1).abs().pow(.5)

In [14]:
# profile user 1 
categories_user_1_unit = df_unit.loc[df['User 1'].notnull(), interests]

for c in categories_user_1_unit.columns: 
    categories_user_1_unit[c] *= ratings_user_1

profile_user_1 = categories_user_1_unit.sum()

In [17]:
df_unit[interests].dot(profile_user_1).sort_values()

doc2    -0.870053
doc17   -0.870053
doc19   -0.847214
doc10   -0.805073
doc4    -0.620053
doc13   -0.396447
doc8    -0.370053
doc7    -0.353553
doc14   -0.331378
doc5    -0.213541
doc20   -0.081378
doc11    0.044658
doc15    0.142229
doc18    0.554695
doc3     0.711105
doc1     1.009019
doc9     1.132724
doc12    1.333114
doc6     1.370923
doc16    1.924646
dtype: float64

In [18]:
# profile user 2 
categories_user_2_unit = df_unit.loc[df['User 2'].notnull(), interests]

for c in categories_user_2_unit.columns: 
    categories_user_2_unit[c] *= ratings_user_2

profile_user_2 = categories_user_2_unit.sum()

In [19]:
df_unit[interests].dot(profile_user_2).sort_values()

doc12   -1.227723
doc16   -1.183064
doc1    -0.845577
doc9    -0.724476
doc3     0.016294
doc10    0.274493
doc5     0.319151
doc6     0.336184
doc11    0.349628
doc19    0.483442
doc7     0.744432
doc15    0.949043
doc8     1.014111
doc18    1.060660
doc20    1.237718
doc14    1.776393
doc13    1.802786
doc4     1.987718
doc2     2.526393
doc17    2.526393
dtype: float64

### Part 3. Finally, let’s consider how common different terms are among our documents …

We’re going to do one more model -- one that accounts for the fact the the content attributes have vastly different frequencies.

We’re going to include an IDF (inverse document frequency) term into our equation. Start with your spreadsheet from part 2. Add a row that shows 1/DF where DF is the number of documents in which each content attribute occurs. For example, baseball occurs in 4 documents, so baseball’s entry will be 0.25. Politics occurs in 10 documents, so it will get an IDF score of 0.1 (1 / 10).

In [26]:
idf = 1 / (df_unit[interests] != 0).sum() 
idf

baseball     0.250000
economics    0.166667
politics     0.100000
Europe       0.090909
Asia         0.166667
soccer       0.166667
war          0.142857
security     0.166667
shopping     0.142857
family       0.200000
dtype: float64

In [30]:
profile_user_1.dot(idf)

np.float64(0.3498948822503191)

In [31]:
df_unit[interests].dot(profile_user_1.mul(idf))

doc1     0.247612
doc2    -0.136187
doc3     0.109459
doc4    -0.089197
doc5    -0.043527
doc6     0.319432
doc7    -0.058926
doc8    -0.047530
doc9     0.179067
doc10   -0.128031
doc11    0.018752
doc12    0.311648
doc13   -0.057253
doc14   -0.053281
doc15    0.021184
doc16    0.396153
doc17   -0.136187
doc18    0.071635
doc19   -0.121533
doc20   -0.006291
dtype: float64